body, h1, h2, ul, p {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}



:root{                                                  /*variable*/
    --main-color: rgb(0, 0, 0);                   
    --secondary-color: rgb(26, 26, 26);
    --font-color: rgb(255, 255, 255);
    --gap: 15px;
}

html {
    background-color: var(--secondary-color);           /*using variable*/
    color: var(--font-color);
}

body, .avatar, .language{
    margin: 0 auto;              /*centr*/
}

.avatar, header, main {
    margin-bottom: var(--gap);
}

body {
    width: 500px;
    min-height: 100vh;
    background-color: var(--main-color);
    padding: var(--gap);
}

.avatar {
    --avatar-size: 250px;

    display: block;              /* block element*/
    width: var(--avatar-size);
    height: var(--avatar-size);
    object-fit: cover;          /* квадратна картинка*/
    border-radius: 50%;
    margin-bottom: var(--gap);
}
.nickname, .language, h1, .description, .email, footer {
    text-align: center;
}

.language {
    display: block;
}
.links {
    display: flex;
    justify-content: center;
}

