:root{                                                  /*variable*/
    --main-color: rgb(0, 0, 0);                   
    --secondary-color: rgb(26, 26, 26);
    --font-color: rgb(255, 255, 255);
    --link-color: #ff4e45;
    --gap: 15px;

}

body, h1, h2, ul, p {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;                   /*затримка */
}

 a:hover, a:focus, a:active {            /*ефект Хавер та хавер з Таб */
    color: aqua;
}

html {
    background-color: var(--secondary-color);           /*using variable*/
    color: var(--font-color);
}

body, .avatar, .language{
    margin: 0 auto;              /*centr*/
}

.avatar, header, main, h1, .links, .description {
    margin-bottom: var(--gap);
}

body {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: calc(100vh - var(--gap) * 2);  /*none skrole*/
    background-color: var(--main-color);
    padding: var(--gap);
}

header {
    position: relative;
}
footer {
    margin-top: auto;
}

.avatar {
    --avatar-size: 200px;

    display: block;                         /* block element*/
    width: var(--avatar-size);
    height: var(--avatar-size);
    object-fit: cover;                      /* квадратна картинка*/
    border-radius: 50%;
    margin-bottom: var(--gap);
}
.nickname, h1, .description, .email, footer {
    text-align: center;
}

.language {
    position: absolute;                     /* Go to right */
    top: 0;
    right: 0;
}
.links {
    display: flex;
    justify-content: center;
}

